@model WebPageAge.Models.WebpageInfo
@{
    ViewData["Title"] = "Home Page";
}

<form  method="post">

    <label for="basic-url">Enter URL</label>
    <div class="input-group mb-3">
        
        <input type="url" class="form-control" asp-for="@Model.url" aria-describedby="basic-addon3" />
    </div>

       
        <button type="submit">Get</button>
   
    
</form>

<div class="text-center">
    
    @if((Model.datePublished==null && Model.datePublished == null) || Model.hasError)
    {
        <p>either you have entered incorrect url or this webpage is inaccessible</p>
    }
    else
    {
        @if (Model.dateModified != null)
        {
            <p>date published=> @Model.datePublished (@Model.pubYears year @Model.pubMonths month @Model.pubDays days ago)</p>
        }
        @if (Model.datePublished != null)
        {
            <p>date modified=> @Model.dateModified (@Model.modYears year @Model.modMonths months @Model.modDays days ago)</p>
        }
    }

    
</div>